div{
    text-align: center;
    color: aliceblue;
    }
    body{
        background-image: url("images.jpeg");
    }
    
    
    #fotosp{
    padding-right: 10%;
   border-color: white;
    border-style: dotted;
    border-width: 5px;
    width: 160px;
    position: absolute;
    right: 80px;
    }